<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{{Title}}</title>
  <link rel="stylesheet" type="text/css" href="stylesheet.css">
  <script type="text/javascript" src="app.js"></script>
</head>
<body>
    <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 80%;">
        <tr><td class="header" bgcolor="#5757e0">
            <span style="font-size: 25px;font-weight: bold;color:#ffffff">{{Title}}</span>
        </td></tr>
        {% for categories,L in grouped %}{% set outer_count=loop.index %}
        <tr><td class="innerpadding">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <thead align='left'>
                    <tr>
                        <th class="sectionhead" style="width:5%">{{outer_count}}</th>
                        <th class="sectionhead"><div toggle-id='expand-id-{{outer_count}}'>{{categories}}</div></th>
                    </tr>
                </thead>
            </table>
        </td></tr>
        <tr><td class="innerpadding borderbottom"><div id='expand-id-{{outer_count}}'>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
            {% for title,href,cats in L %}
            <tr>
                <td class="numcol" style="width:10%">{{outer_count}}.{{loop.index}}</td>
                <td class="bodycopy" style="width:80%"><a href="{{href}}">{{title}}</a><br>({{cats}})</td>
            </tr>
            {% endfor %}
            </table></div>
        </td></tr>
        {% endfor %}
    </table>
</body>
</html>
